body{
    background: url('bg.png');
}

#clockContainer1,#clockContainer2,#clockContainer3{
    position: relative;
    margin: auto;
    background-color: red;
    height: 20vw;
    width: 20vw;
    background: url('clock.png') no-repeat;
    background-size: 100%;
}


#hour1, #minute1, #second1,#hour2,#minute2,#second2,#hour3,#minute3,#second3{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour1,#hour2,#hour3{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.8%;
    opacity: 0.8;
}

#minute1,#minute2,#minute3{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.8%;
    opacity: 0.8;
}

#second1,#second2,#second3{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;
}.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

